:root{
    --section-padding:100px;
    --ligh-color:rgb(251, 246, 233);
    --lemon-green:rgb(227, 240, 175);
    --light-green:rgb(93, 185, 150);
    --green-main:rgb(17, 139, 80);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
h1{
    font-size: 3.5rem !important;
    color: white !important;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-size: 20px;
}
ul{
    list-style-type: none;
}
i{
    margin: 0 10px;
}
i.fa-circle-check{
    color: green;
}
.card i{
    display: block;
    font-size: 40px;
}
.hero-section{
    width: 100%;
    /* background-color: rgb(17, 139, 80, 0.3); */
}
.navbar{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: var(--ligh-color);
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.navbar ul{
    list-style-type: none;
    float: right;
    padding: 20px;
}
.navbar li{
    display: inline-block;
    padding: 10px;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 20px;
}
.navbar a:hover{
    color: var(--green-main);
}
li.list-button a:hover{
    color: white;
}
.hero{
    width: 100%;
    height: 700px;
    background: url("/images/meet3-general.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    overflow: hidden;
}
@keyframes float{
    0%, 100%{transform: translateY(0);}
    50% {transform: translateY(-40px);
        background-color: rgb(2, 17, 46, 0.3);
    }
    30%{transform:scale(1.2);
        background-color: rgb(227, 240, 175,0.3);
    }
    20%{background-color: rgb(17, 139, 80, 0.3);}
}
.ball, .about-top-left-ball, .circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(251, 246, 233, 0.3);
    animation: float 3s ease-in-out infinite;
}
.circle{
    background-color: var(--green-main);
    position: absolute;
}
.top-left{
    top:10%;
    left: 10%;
}
.bottom-right{
    bottom: 10%;
    right: 10%;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
    background-color:rgb(17, 139, 80, 0.18);
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: var(--section-padding);
    color: white;
    
}
.hero-text{
    text-align: center;
    width: 900px;
    margin: 50px 0;
}
.name{
    font-size: 20px;
}
.name-discription, .join-us{
    font-size: 26px;
    margin-top: 10px;
}
.join-us{
    margin-top: 25px;
}
button{
    margin-top: 20px;
    padding: 20px;
    background-color: var(--lemon-green);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.25s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    background-color: var(--green-main);
    color: var(--ligh-color);
    border: 1px solid var(--ligh-color);
    box-shadow: 0px 4px 8px 0 rgb(17, 139, 80, 0.5) ;
}
button.learn-more{
    margin-left: 20px;
    background-color: var(--ligh-color);
    border: 2px solid var(--lemon-green);
}
button.learn-more:hover{
    color: black;
    background-color: var(--lemon-green);
}
.works {
    margin-top: 80px;
    display: flex;
    font-size: 20px;
    gap: 70px;
}
.number{
    text-align: center;
    font-size: 30px;
}

/* About Section*/
.section-note{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    background-color: var(--light-green);
    width: fit-content;
    border-radius: 15px;
    border: 2px solid var(--light-green);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.about, .our-approach{
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:30px;
    width: 100%;
}
.left-column{
    font-size: 1.2rem;
    width: 100%;
    padding: 15px;
    /* box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255,0.18); */
}
.right-column, .our-approach .left-column{
    border: 2px solid white;
}
.right-column img, .our-approach .left-column img{
    width: 700px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
}
.right-column img:hover,.our-approach .left-column img:hover{
    transform: scale(1.05);
}
.right-column p.impact{
    width: 200px;
    text-align: center;
    background-color: var(--ligh-color);
    height: 100px;
    padding: 20px;
    position: relative;
    bottom: 10%;
    right: 5%;
    border-radius: 10px;
    font-size: 20px;
}
.right-column span{
    display: block;
    font-size: 30px;
}
/* .about-bottom-right-ball{
    background-color: var(--green-main);
    animation: none;
    bottom: 98%;
    right: -3%;
}
.about-top-left-ball{
    background-color: var(--green-main);
    animation: none;
    top: 98%;
    left: -3%;
} */

/*Vision section*/

.our-vision{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: var(--green-main);
    background-image: linear-gradient(to right, rgba(255,255,255,0.3) 1px, transparent 1px), linear-gradient(to bottom,  rgba(255,255,255,0.3) 1px, transparent 1px);
    background-size: 40px 40px;
    color: var(--ligh-color);
    padding: var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
}
.section-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vision{
    padding: 30px;
    width: 70%;
    margin-top: 10px;
    font-size: 20px;
    z-index: 1;
}
.vision p{
    height: 200px;
    background-color: var(--green-main);
    padding: 40px;
    margin: auto;
    z-index: 1;
    text-align: center;
    border: 2px solid beige;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.vision-content span{
    display: block;
    margin-top: 10px;
}
.vision-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 1;
}
.card{
    background-color: var(--green-main);
    z-index: 1;
    height: 200px;
    width: 350px;
    border: 2px solid beige;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}
.card p{
    padding: 10px;
    text-align: center;
}
.card span{
    display: block;
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}
/* Our Programs*/
.bottom-right-circle{
    bottom: 2%;
    right: 5%;
    position: absolute;
}
.programs{
    padding: 50px;
    width: 100%;
    position: relative;
}

.our-programs-discription, .our-approach-discription, .get-involve-discription{
    width: 45%;
    padding: 10px;
    text-align: center;
}
.programs-cards{
    margin-top: 20px;
    padding: var(--section-padding);
    display: flex;  
    /* align-items: center;
    justify-content: center;*/    
    gap: 50px;

    flex-wrap: wrap;
}
.prog-card{
    flex: 25%;
    overflow: hidden;
    border-radius: 20px;
    /* border: 2px solid var(--green-main); */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}
.prog-card:hover{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
}
.prog-card .image{
    width: 100%;
    height: 200px;
    background: url("/images/Anualmeet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    transition: transform 1s ease;
    margin-bottom: 15px;
}
.prog-card .image::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    /* width: inherit; */
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}
.prog-card .image:hover{
    transform: scale(1.1);
}
.prog-card h3{
    padding: 10px;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.prog-card p, .prog-card li{
    padding: 10px;
    font-size: 1rem;
}
.prog-card button{
    margin: 5px;
    background: none;
    color: green;
}
.prog-card button:hover{
    color: blue;
    border: none;
    box-shadow: none;
}

.card1{
}
/* Our Approach*/
.our-approach{
    padding: var(--section-padding);
    background-color: var(--ligh-color);
    background-image: linear-gradient(to right, rgb(17, 139, 80, 0.2) 1px, transparent 1px), linear-gradient(to bottom, rgb(17, 139, 80,0.2) 1px, transparent 1px);
    background-size: 40px 40px;
}
.our-approach .right-column{
    font-size: 1.1rem;
    border: none;
}
.our-approach .left-column{
    height: fit-content;
    border: none;
}
.list .section-head{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    margin-top: 10px;
}
.list .section-head i{
    font-size: 30px;
    color: green;
}
.list .list-p{
    margin-left: 60px;
}
.our-approach .left-column button{
    width: fit-content;
    margin-top: 150px;
    width: 50%;
    border: 2px solid green;
}
.right-column .partnership{
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--light-green);
    border: 2px solid var(--green-main);
}
.right-column .partnership:hover{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    background-color:var(--green-main);
    color: white;
}
.partnership-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 50px;
}

/* Get Involve*/
.get-involve{
    padding: var(--section-padding);
}
.get-involve-cointainer{
    display: flex;
}
.get-involve-cointainer h3{
    padding: 15px;
}
.get-involve-cointainer .left-column, .get-involve-cointainer .right-column{
    width: 50%;
    padding: 30px;
}
.get-involve .discription{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.voulunteers{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: linear-gradient(110deg, rgba(157, 214, 186, 0.7), rgb(255, 255, 255, 0.7));
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); 
    transition: all 0.4s ease;  
}
.voulunteers:hover{
    transform: scale(1.04);
}
.contact-info{
    width: 100%;
    background-color: rgb(2, 17, 46);
    color: white;
    border-radius: 15px;
    padding: 20px;
}
.get-intouch-form{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background: linear-gradient(120deg, rgba(157, 214, 186, 0.7), rgb(255, 255, 255, 0.7));
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.get-intouch-form div{
    height: fit-content;
}
.get-intouch-form label{
    display: block;
    padding: 2px;
}
.get-intouch-form input,#interest, .get-intouch-form textarea{
    width: 100%;
    display: inline-block;
    padding: 12px;
    font-size: 1rem;
    /* margin: 5px; */
    border-radius: 5px;
    outline: none;
    border: 2px solid #ccc;
}
.get-intouch-form input:focus,#interest:focus, .get-intouch-form textarea:focus{
    border: 2px solid rgb(17, 139, 80, 0.7);
    box-shadow: 0px 4px 8px 0 rgb(17, 139, 80, 0.5) ;
}
.get-intouch-form input[type="email"]{
    grid-row: 1 / span 3;
}
.get-intouch-form button{
    background-color: rgb(2, 17, 46);
    color: white;
}
.get-intouch-form button:hover{
    background: linear-gradient(120deg,rgb(255,255,255),rgb(17, 139, 80, 0.7) );
    transform: scale(1);
    color: black;
}
footer{
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    grid-gap: 20px;
}

footer .middle-column,.right-column{
    padding: 50px 0;
}
footer .left-column ul li{
    list-style-type: none;
    display: inline;
    margin:20px 10px 0 0;
}
footer .right-column{
    border: none;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover, footer .left-column ul li:hover{
    color: var(--green-main);
}
footer .copyright{
    padding-top: 20px;
    grid-column: 1/4;
}
footer .copyright p{
    margin-top: 10px;
}
footer .copyright ul{
    float: right;
}
footer .copyright ul li{
    display: inline;
    margin-left: 10px;
}

@media (max-width: 768px) { /* For tablets & below */ 


/* HERO SECTION */
body{
    font-size: 1.3rem;
}

    .navbar{
        width: 100%;
        height: 80px;
        display: inline-block;
        height: 100%;
        position: relative;
    }
    .navbar li{
        display: inline;
        padding: 2px;
    }
    .navbar::after{
        content: "=";
        position: absolute;
        left: 90%;
        font-size: 3rem;
    }

    .navbar button{
        border: none;
        display: inline;
        background-color: white;
        padding: 0;
    }
    .navbar button:hover, .navbar .list-button{
        transform: scale(1);
        color: black;
    }
    .ball{
        width: 15%;
        height: 10%;
        z-index: -1;
    }
    .hero{
        box-sizing: border-box;
        height: fit-content;
        
    }
    .hero-content{
        width: 100%;
        padding: 5%;
    }
    .hero-text{
        width: 100%;
        padding: 5%;
        
    }
    .hero-text h1{
        /* margin-top: 90px; */
    }


/* ABOUT SECTION */


    .about,.our-approach{
        /* grid-template-columns: repeat(1,1fr);
        grid-gap: 10px; */
        
        padding: 5px;
        display: flex;
        flex-direction: column;
        position: relative;
        
        padding: 5%;
    }
    .about .left-column,.our-approach .right-column{
        overflow: hidden;
        width: 100%;
        font-size: 1.2rem;


    }
    .about .left-column h2, .our-approach .right-column h2{
        font-size: 1.4rem;
    }
    .about .left-column .about-discription, .objectives, .our-approach .left-column .about-discription,{
        /* width: 70%; */
        line-height: 1.5;

    }
    p.about-discription {
        width: 100%;
    }
    p.about-discription span{
        display: block;
        margin: 8px auto;
    }

    .about .right-column img, .our-approach .left-column img{
        width: 100%;
    }
    .right-column p.impact{
        position: absolute;
        bottom: 5%;
        left: 3%;
    }

    /* OUR VISION SECTION */

    .our-vision{
        height: fit-content;
        position: relative;
        padding: 5%;
    }
    .our-vision .section-head{
        margin-top: 20px;
    }
    .our-vision .section-head h2{
        text-align: center;
    }
    .vision{
        /* position: absolute; */
        width: 300px;
        height: 100%;
        padding: 0;
        margin: 20px auto;
        /* z-index: 2; */
    }
    .our-vision .vision-cards{
        grid-template-columns: repeat(1, 1fr);
    }


/* OUR PROGRAM SECTION  */

    .programs{
        height: fit-content;
        width: 100%;
        padding: 5%;
    }

    .programs .section-head h2{
        text-align: center;
    }

    .programs .section-head .our-programs-discription{
        width: 100%;
        margin-bottom: 20px;
    }
    .programs-cards{
        flex: 100%;
        flex-direction: column;
        padding: 0;
    }
    .programs-cards .prog-card p{
        font-size: 1.2rem;
        line-height: 1.5;
        padding: 20px;
    }

    .programs-cards .prog-card h3{
        padding: 20px;
    }

    /* OUR APPROACH SECTION */

    .our-approach{
        padding: 5px;
        display: flex;
        flex-direction: column;
        position: relative;    
        padding: 5%;
    }

    .our-approach .left-column img{
        margin-top: 100px;
    }

    /* GET INVOLVE SECTION */

    .get-involve{
        padding: 5%;
    }

    .get-involve .discription h2{
        text-align: center;
    }
    .get-involve .get-involve-discription{
        width: 100%;
    }
    .get-involve-cointainer{
        flex-direction: column;
    }
    .get-involve .left-column, .get-involve .right-column{
        width: 100%;
    }

    /* FOOTER SECTION */

    footer{
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 0;
    }

    footer .left-column{
        padding: 0;
    }
    footer .left-column, footer .middle-column, footer .right-column{
        width: 100%;
    }
}
@media (max-width: 480px) { /* For phones */ 

    .programs-cards{
        flex: 50%;
        padding: 5%;
}

  